@mixin product-container-mx($bg-col, $shadow-one, $shadow-two) {
    /*
    * bg-col : background color
    * shadow-one : top left shadow color
    * shadow-two : bottom right shadow color
    */
    position: relative;
    width: 270px;
    height: 230px;
    background-color: $bg-col;
    box-shadow: inset 2px 2px 4px 0 $shadow-one,
        inset -2px -2px 5px 0 $shadow-two;

    @media (min-width: 576px) {
        width: 400px;
        height: 340px;
    }
}

@mixin product-quote-mx($text-color, $offset) {
    /*
    * text-color : text color
    * offset : vertical offset from above element
    */
    position: absolute;
    left: 34%;
    top: calc(33% + #{$offset});
    font-family: 'Caveat', cursive;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: $text-color;

    @media (min-width: 576px) {
        left: 43%;
        font-size: 2.125rem;
        line-height: 2rem;
    }
}

@mixin product-button-mx($bg-col) {
    /*
    * bg-col : background color
    */
    position: absolute;
    left: 34%;
    bottom: 23px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.1rem;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 0.9rem 0.9rem 0.9rem;
    color: $white;
    background-color: $bg-col;
    border-radius: 5px;
    border: 0;
    box-shadow: -2px -2px 4px 0 rgba(255, 255, 255, 0.5),
        2px 2px 4px 0 rgba(0, 0, 0, 0.21);

    @media (min-width: 576px) {
        left: 43%;
        bottom: 50px;
        font-size: 1.35rem;
        line-height: 1.35rem;
        padding: 0.9rem 1.1rem 0.9rem;
    }
}

@mixin quote-image-mx($width, $height) {
    /*
    * width : image width
    * height : image height
    */
    position: absolute;
    left: 34%;
    top: 17%;

    img {
        width: $width;
        height: $height;
    }

    @media (min-width: 576px) {
        left: 43%;
    }
}

@mixin create-slider-dots-mx($dot-color, $dot-border, $dot-active) {
    /*
    * dot-color : dot fill color
    * dot-border :  dot border color
    * dot-color-active : active dot fill color
    * dot-border-active : active dot border color
    */

    height: 12px;
    width: 12px;
    margin: 0.15rem;
    background-color: $dot-color;
    border: 1px solid $dot-border;
    border-radius: 50%;
    display: inline-block;

    &-active {
        background-color: $dot-active;
        border-color: $dot-active;
    }
}
