@mixin product-container-mx($bg-col, $shadow-one, $shadow-two) {
    position: relative;
    width: 400px;
    height: 340px;
    background-color: $bg-col;
    box-shadow: inset 2px 2px 4px 0 $shadow-one,
        inset -2px -2px 5px 0 $shadow-two;
}

@mixin product-quote-mx($text-color, $offset) {
    position: absolute;
    width: 12.2rem;
    left: 43%;
    top: calc(33% + #{$offset});
    font-family: 'Caveat', cursive;
    font-weight: 700;
    font-size: 2.125rem;
    line-height: 2rem;
    color: $text-color;
}

@mixin product-button-mx($bg-col) {
    position: absolute;
    left: 43%;
    bottom: 50px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1.35rem;
    line-height: 1.35rem;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 6px 12px 9px;
    color: #ffffff;
    background-color: $bg-col;
    border-radius: 5px;
    border: 0;
    box-shadow: -2px -2px 4px 0 rgba(255, 255, 255, 0.5),
        2px 2px 4px 0 rgba(0, 0, 0, 0.21);

    @media (min-width: 768px) {
        padding: 0.9rem 1.1rem 0.9rem;
    }
}

@mixin quote-image-mx($width, $height) {
    position: absolute;
    left: 43%;
    top: 17%;
    
    img {
        width: $width;
        height: $height;
    }
}
