// -------------------------------------------------- import fonts //

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@800&family=Caveat:wght@700&family=Montserrat:wght@500&family=Raleway:wght@700&family=Muli&display=swap');


// --------------------------------------------------------- setup //

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

a {
    color: $white;

    &:hover {
        text-decoration: none;
        color: $white;
    }
}

.v-center {
    margin-top: auto;
    margin-bottom: auto;
}

// ------------------------------------------------------- navbar //

.nav-container {
    display: flex;
    justify-content: space-between;
    max-width: 1237px;
    height: 2.625rem;
    margin: 1.8125rem auto 1.875rem;
}

.nav-logo {
    height: 1.875rem;
    filter: invert(1);

    @media (min-width: 768px) {
        height: 2.6rem;
    }
}

.nav-links-container {
    display: none;

    @media (min-width: 1400px) {
        display: block;
        margin-top: 0.75rem;
    }

    ul {
        display: flex;
        flex-direction: row;
        margin: auto;

        a {
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            line-height: 22px;
            color: $nav-link;
            font-size: 15px;
            margin: 0 0.7rem;
            transition: 0.2s;

            &:hover {
                color: $nav-link-hover;
            }
        }

        li:after {
            content: '|';
        }

        li:last-child:after {
            content: '';
        }
    }
}

.nav-icons {
    display: flex;

    & > * {
        margin: auto;
    }

    .basket {
        height: 1.5rem;

        @media (min-width: 768px) {
            height: 2.32rem;
        }
    }

    .menu {
        height: 1.125rem;
        margin-left: 1.2rem;
        margin-right: 1rem;

        @media (min-width: 768px) {
            height: 1.625rem;
            margin-left: 2rem;
            margin-right: 0;
        }
    }
}

// ------------------------------------------------- header group //

.header-container {
    background: $header-bg url('/static/images/byv3-header-group-mobile_a.jpg')
        no-repeat;
    background-size: auto 250px;
    height: 250px;
    box-shadow: 0px 3px 6px -1px rgba(140, 140, 140, 1);

    @media (min-width: 768px) {
        background: $header-bg
            url('/static/images/byv3-header-group-desktop_a.jpg') no-repeat
            center;
        background-size: auto 400px;
        height: 400px;
    }

    h1 {
        font-family: 'Barlow', sans-serif;
        font-weight: 800;
        font-size: 2.875rem;
        line-height: 2.625rem;
        color: $white;

        @media (min-width: 768px) {
            font-size: 5rem;
            line-height: 5rem;
        }
    }

    h4 {
        font-size: 0.94rem;
        line-height: 1.2rem;
        color: $header-text;
        margin: 0.5rem 0 1.6rem;

        @media (min-width: 768px) {
            font-size: 1.5rem;
            line-height: 2rem;
            margin: 0.5rem 0 2.2rem;
        }
    }

    .header-button {
        font-family: 'Barlow', sans-serif;
        font-weight: 800;
        font-size: 24px;
        line-height: 1.25rem;
        letter-spacing: 1px;
        text-decoration: none;
        padding: 6px 14px 9px;
        color: $white;
        background-color: $header-bg;
        border-radius: 5px;
        border: 0;
        box-shadow: -2px -2px 4px 0 rgba(255, 255, 255, 0.5),
            2px 2px 4px 0 rgba(0, 0, 0, 0.21);
    }
}

// --------------------------------------------- product carousel //

.product-carousel-container {
    position: relative;
    display: flex;
    justify-content: space-around;
    margin: 3.75rem auto 6.5rem;
    height: 375px;

    @media (min-width: 1320px) {
        justify-content: space-between;
    }
}

.c-product-hand {
    @include product-container-mx(#3ad6b8, #00856b, #b7fff1);

    .product-quote {
        @include product-quote-mx(#075f4e, 0.1rem);
    }

    .product-button {
        @include product-button-mx(#3ad6b8);
    }

    .quote-image {
        @include quote-image-mx(168px, 41px);
    }
}

.c-product-cream {
    @include product-container-mx(#ffcb3e, #a37e1d, #ffe49a);

    .product-quote {
        @include product-quote-mx(#6e5100, 0.3rem);
    }

    .product-button {
        @include product-button-mx(#ffcb3e);
    }

    .quote-image {
        @include quote-image-mx(100px, 32px);

        @media (min-width: 576px) {
            @include quote-image-mx(148px, 46px);
        }
    }
}

.c-product-cup {
    @include product-container-mx(#1db0e0, #00838e, #1de0f1);

    .product-quote {
        @include product-quote-mx(#0d6784, 1.25rem);
    }

    .product-button {
        @include product-button-mx(#1db0e0);
    }

    .quote-image {
        @include quote-image-mx(185px, 50px);
    }
}

.product-image {
    position: absolute;
    width: 110px;
    height: 251px;
    left: -5px;

    @media (min-width: 576px) {
        width: 170px;
        height: 350px;
        top: 12px;
        left: 0;
    }
}

.slider {
    @include create-slider-dots-mx(#EDEDED, #D8D8D8, #FFCB3E);
}

// ---------------------------------------------------- sleep mist //

.sleep-mist-container {
    background: $sleep-mist-bg url('/static/images/byv3_sleep_feature_a_800x.jpg')
        no-repeat;
    background-position: right top;
    background-size: cover;
    height: 450px;
    margin: -10rem 1rem 0;
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.37);

    .sleep-mist-content {
        position: absolute;
        top: 0;
        left: 20px;
        bottom: 0;
        height: 100%;
        width: 40%;
        display: flex;

        img {
            height: 170px;
        }

        h1 {
            font-family: 'Raleway', sans-serif;
            font-weight: 700;
            font-size: 2rem;
            line-height: 2.2rem;
            color: $white;
            margin: 0.8rem 0 2.2rem;
        }

        .sleep-mist-button {
            font-family: 'Raleway', sans-serif;
            font-weight: 700;
            font-size: 1rem;
            line-height: 1.1rem;
            letter-spacing: 1px;
            text-decoration: none;
            padding: 0.9rem 0.9rem 0.9rem;

            color: $white;
            background-color: $sleep-mist-bg;
            border-radius: 5px;
            border: 0;
            box-shadow: -2px -2px 4px 0 rgba(255, 255, 255, 0.5),
                2px 2px 4px 0 rgba(0, 0, 0, 0.21);
        }
    }
}

// ------------------------------------------------------ new wave //

.bg-sq-outer {
    position: relative;
    margin-top: -5rem;
    z-index: -10;

    .bg-sq {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $new-wave-bg;

        @media (min-width: 576px) {
            width: 40%;
        }
    }
}

.new-wave {
    padding-bottom: 20rem;
    padding-top: 7rem;

    @media (min-width: 576px) {
        padding-top: 3rem;
    }
    position: relative;

    h1 {
        font-family: 'Barlow', sans-serif;
        font-size: 1.875rem;
        line-height: 1.8755rem;
        font-weight: 800;
        color: $new-wave-text;

        @media (min-width: 576px) {
            font-size: 3.875rem;
            line-height: 3.875rem;
        }
    }

    p {
        font-family: 'Muli', sans-serif;
        font-weight: 400;
        font-size: 0.8rem;
        line-height: 1.1rem;
        color: $new-wave-text;
        margin-bottom: 0.5rem;

        @media (min-width: 576px) {
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            font-size: 1.25rem;
            line-height: 1.75rem;
        }
    }
}

.top-border {
    @media (max-width: 576px) {
        border-top: 1px solid #00a2b0;
        padding: 1.25rem 0 0 0;
    }
}

.as-seen-in {
    margin-left: auto;
    text-align: right;

    h3 {
        font-family: 'Caveat', cursive;
        color: #00a2b0;
        font-weight: 700;
        font-size: 2.25rem;
        line-height: 2.9rem;
    }

    img {
        height: 38px;
        margin-bottom: 0.5rem;
    }
}
