// ----------------------------------------------------- variables //
$white: #FFFFFF;

$nav-link: #5E5E5E;
$nav-link-hover: #29A69C;

$header-bg: #dbd6d0;
$header-text: #676767;

$sleep-mist-bg: #E97F9F;

$new-wave-light: #E0FDFF;
$new-wave-dark: #00A2B0;